body{
	font-family: Arial, sans-serif;
}

header {
  height: 40%;
  width: 100%;
  position: absolute;
  text-align: center;
  background-image: url(images/bgimg.jpg);
  background-repeat: repeat-x;
}

header h1{
	position: relative;
	margin: 0;
	padding: 0;
	width: 30%;
	height: 15%;
	top: 35%;
	bottom: 30%;
	left: 35%;
	right: 35%;
	color: rgba(80, 20, 200, 0.85);
	background-color: rgba(200, 180, 100, 0.6);
	font-size: 50px;
}

header p{
	position: relative;
	margin: 0;
	padding: 0;
	width: 30%;
	height: 15%;
	top: 35%;
	bottom: 30%;
	left: 35%;
	right: 35%;
	color: rgba(80, 20, 200, 0.85);
	background-color: rgba(200, 180, 100, 0.6);
	font-size: 30px;
	font-family: Arial, sans-serif;
}

nav ul {
	position: absolute;
	left: 30%;
	right: 30%;
	top: 95%;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 15%;
	background-color: rgba(256, 256, 256, .6);
}

nav li {
	display: inline;
	padding: 8px;
	background-color: #yellow;
	text-align: center;
  	font-size: 180%;
}

nav li a{
	text-decoration: none;
	font-weight: bold;
	color: black;
}

nav li a:hover{
	text-decoration: none;
	font-weight: bold;
	color: purple;
	background-color: white;
}



